<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>【校园公益】阮市镇小、杨梅桥小学、视北小学、视南小学、大桥中心村幼儿园</string>
		<key>image</key>
		<string>news_1</string>
	</dict>
	<dict>
		<key>title</key>
		<string>【校园公益】璜山镇中心小学、桥下小学、读山小学</string>
		<key>image</key>
		<string>news_2</string>
	</dict>
	<dict>
		<key>title</key>
		<string>【校园公益】南屏小学、马剑镇中心小学、平阳小学、牌头镇中心小学、西山完小、新乐完小、外陈完小</string>
		<key>image</key>
		<string>news_3</string>
	</dict>
	<dict>
		<key>title</key>
		<string>【校园公益行】【诸暨站】红卫小学和同乐完小</string>
		<key>image</key>
		<string>news_4</string>
	</dict>
	<dict>
		<key>title</key>
		<string>【校园公益】五洩镇中心学校、草塔镇中心小学、青山小学</string>
		<key>image</key>
		<string>news_5</string>
	</dict>
	<dict>
		<key>title</key>
		<string>【校园公益】树德小学、里蒋小学、冠山小学</string>
		<key>image</key>
		<string>news_1</string>
	</dict>
	<dict>
		<key>title</key>
		<string>【校园公益】盛兆坞小学、陶朱小学、暨南小学</string>
		<key>image</key>
		<string>news_2</string>
	</dict>
	<dict>
		<key>title</key>
		<string>【校园公益】阮市镇小、杨梅桥小学、视北小学、视南小学、大桥中心村幼儿园</string>
		<key>image</key>
		<string>news_3</string>
	</dict>
	<dict>
		<key>title</key>
		<string>【校园公益】璜山镇中心小学、桥下小学、读山小学</string>
		<key>image</key>
		<string>news_4</string>
	</dict>
	<dict>
		<key>title</key>
		<string>【校园公益】南屏小学、马剑镇中心小学、平阳小学、牌头镇中心小学、西山完小、新乐完小、外陈完小</string>
		<key>image</key>
		<string>news_5</string>
	</dict>
	<dict>
		<key>title</key>
		<string>【校园公益】树德小学、里蒋小学、冠山小学</string>
		<key>image</key>
		<string>news_1</string>
	</dict>
	<dict>
		<key>title</key>
		<string>【校园公益】阮市镇小、杨梅桥小学、视北小学、视南小学、大桥中心村幼儿园</string>
		<key>image</key>
		<string>news_2</string>
	</dict>
	<dict>
		<key>title</key>
		<string>【校园公益】阮市镇小、杨梅桥小学、视北小学、视南小学、大桥中心村幼儿园</string>
		<key>image</key>
		<string>news_3</string>
	</dict>
	<dict>
		<key>title</key>
		<string>【校园公益】阮市镇小、杨梅桥小学、视北小学、视南小学、大桥中心村幼儿园</string>
		<key>image</key>
		<string>news_4</string>
	</dict>
	<dict>
		<key>title</key>
		<string>【校园公益】阮市镇小、杨梅桥小学、视北小学、视南小学、大桥中心村幼儿园</string>
		<key>image</key>
		<string>news_5</string>
	</dict>
	<dict>
		<key>title</key>
		<string>【校园公益】阮市镇小、杨梅桥小学、视北小学、视南小学、大桥中心村幼儿园</string>
		<key>image</key>
		<string>news_1</string>
	</dict>
	<dict>
		<key>title</key>
		<string>【校园公益】阮市镇小、杨梅桥小学、视北小学、视南小学、大桥中心村幼儿园</string>
		<key>image</key>
		<string>news_2</string>
	</dict>
	<dict>
		<key>title</key>
		<string>【校园公益】阮市镇小、杨梅桥小学、视北小学、视南小学、大桥中心村幼儿园</string>
		<key>image</key>
		<string>news_3</string>
	</dict>
	<dict>
		<key>title</key>
		<string>【校园公益】阮市镇小、杨梅桥小学、视北小学、视南小学、大桥中心村幼儿园</string>
		<key>image</key>
		<string>news_4</string>
	</dict>
	<dict>
		<key>title</key>
		<string>【校园公益】阮市镇小、杨梅桥小学、视北小学、视南小学、大桥中心村幼儿园</string>
		<key>image</key>
		<string>news_5</string>
	</dict>
</array>
</plist>
